parameters:
    dbHost: 127.0.0.1
    dbPort: 33306
    dbUser: root
    dbPassword:
    dbName: nette-sandbox

database:
	dsn: 'mysql:host=%dbHost%:%dbPort%;dbname=%dbName%'
	user: %dbUser%
	password: %dbPassword%
	options:
		lazy: yes
